#clock {
  position:relative
  //If add left:500px, expected it to shift right, but didnt!Why?
}

#clock img {
  position: absolute;
}

#hour {
z-index:1
}

#minute {
z-index:2
}

#second {
z-index:3

}
